.open-source {
  font-size: 1rem;
  color: #ff8c09;
}

.open-source p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
}

.logos a {
  margin-top: 20px;
}

.logos img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.logos img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 0.9rem;
}

.footer a {
  color: #ff8c09;
  text-decoration: underline;
}

.footer a:hover {
  color: #11bcf5;
}
