.header {
  text-align: center;
}

.header h1 {
  font-size: 2.8rem;
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 0.2rem;
  background: -webkit-linear-gradient(#959393, #ff8c09);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
