/* src/components/Header.css */
.header {
  text-align: center;
  /* margin-bottom: 20px; */
}

.header h1 {
  font-size: 3.2rem;
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 0.3rem;
  background: -webkit-linear-gradient(#cfcece, #ff8c09);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
